<h1>Topic: {{topicNames}}</h1>
<p>Results: {{data.length}} | Published since: {{daysAgo}} days ago</p>

{{> topic/topic-browse/template queryKeywords=queryKeywords}}

<ul>
  {{> topic/topic-list/template threads=data}}
</ul>