<div class="p-12" style="min-height: 100vh">
  <h3>New Post</h3>
  <form action="/topics" method="POST">
    <p>Title:</p>
    <input name="title" type="text" required=true ><br>
    <p>URL:</p>
    <input name="url" type="text" required=true ><br>
    <p>Site:</p>
    <input name="site" type="text" required=true ><br>
    <p>Author:</p>
    <input name="author" type="text" required=true ><br>
    <p>Text:</p>
    <textarea name="text" rows="10" cols="100">
    </textarea>
    <p>Topics:</p>
    <select multiple name="topic" required=true>
      {{#each queryKeywords as |keyword|}}
        <option value={{keyword}}>{{keyword}}</option>
      {{/each}}
    </select>
    <p>Published:</p>
    <input type="datetime-local" name="published" value={{today}}>
    <br>
    <input type="submit" value="Create">
  </form>
</div>
