{{> ticker-prices/template prices=prices}}

<div class="px-12">
  {{> topic-pagination/template}}

  {{#each data}}
    {{> topic-show/template admin=../admin count=this post=post topic=(join topic) documentSentiment=documentSentiment id=_id}}
  {{/each}}
   
  {{> topic-pagination/template}}
</div>
