<div id="ticker-prices" style="height: 75px">
  <div class="row flex items-center fs-30" style="height: 75px">
    <span class="col-12 center fa-spin">
      {{{fontawesomeBrand icon="bitcoin"}}}
    </span>
  </div>
</div>


<div class="px-12">
  {{#if topicName}}
    <p class="fs-16 pt-2 center">{{capitalize topicName}} news</p>
  {{/if}}

  {{> topic-pagination/template}}

  {{#each data}}
    {{> topic-show/template admin=../admin count=this post=post topic=topic documentSentiment=documentSentiment id=_id}}
  {{/each}}
   
  {{> topic-pagination/template}}
</div>
