<h1>Topic: {{capitalize topicName}}</h1>
<p>Results: {{data.length}} | Published since: {{daysAgo}} days ago</p>

<ul>
  {{#each data}}
    {{> topic-show/template post=post topic=(join topic) documentSentiment=documentSentiment }}
  {{/each}}
</ul>