<div class="p-12" style="min-height: 100vh">
  <h3>User Profile</h3>
  <p class="py-20 flash-message">{{message}}</p>
  <p>Email: {{user.email}}</p>
  <p>Admin: {{user.admin}}</p>
  <p>Created: {{moment user/createdAt "DD-MM-YYYY"}}</p>

  {{#if isAuthenticated}}
  <p class="py-20">
    <a href="/logout">Logout</a>
  </p>
  {{/if}}
</div>