<div style="min-height: 100vh" class="px-12 pb-30">
  <h2 class="py-20">About</h4>
    <p>
      The purpose of this website is to aggregate news headlines related to cryptocurrencies across hundreds of reputable publications.
    </p>
    <br>
    <p>
      This is entirely free and a side project.
    </p>
    <br>
    <p>
      This web app was written by <a href="https://mannhowie.com/">Howie Mann.</a>
    </p>
    <br>
    <p>
      The following tech stack was used:
    </p>
    <ul>
      <li><a href="https://webhose.io/">Webhose API - News scraper</a></li>
      <li><a href="https://cloud.google.com/natural-language/">Google Natural Language API - Sentiment Analysis</a></li>
      <li><a href="https://zeit.co">Zeit - App hosting</a></li>
      <li><a href="https://mlab.com/">M Lab - MongoDB hosting</a></li>
    </ul>
</div>