<div class="px-12 pb-30">
  <h2 class="py-20">Resources</h4>
  <h4>APIs and Libraries</h4>
  <p><a href="https://webhose.io/">Webhose API - News scraper</a></p>
  <p><a href="https://cloud.google.com/natural-language/">Google Natural Language API - Sentiment Analysis</a></p>
  <p><a href="https://zeit.co">Zeit - App hosting</a></p>
  <p><a href="https://mlab.com/">M Lab - MongoDB hosting</a></p>

  <br>

  <h4>Code resources</h4>
  <p><a href="https://github.com/fbeline/Design-Patterns-JS">Node design patterns</a></p>
  <p><a href="https://github.com/JesterXL">Unit testing guru</a></p>
  <p><a href="https://date-fns.org/">Date FNS</a></p>

  
</div>