<div id="ticker-prices" style="height: 75px">
  <div class="row flex items-center fs-30" style="height: 75px">
  </div>
</div>

{{> topic/thread-show/template user=user post=data.post topic=data.topic comments=data.comments documentSentiment=data.documentSentiment id=data._id}}