<!DOCTYPE html>
<html amp lang="en">

<head>
  <meta charset="UTF-8">
  <!-- Google AMP HTML -->
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">  
  <title>Cryptocurrency trading news</title>
  <link rel="canonical" href="{{canonUrl}}">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <style amp-custom>
    .logo {
      color: teal;
      font-size: 15px;
    }
    header {
      background: black;
      color: white;
      padding: 4px;
      margin-top: 6px;
    }
    .title {
     text-decoration: none;
     color: white;
     padding-left: 4px;
    }
    .article-show {
      background: #F5F5F5;
      padding: 0px 10px;
    }
    body {
        font-family: Verdana, Geneva, sans-serif;
        font-weight: 300;
    }    
  </style>
</head>

<body>
  <div class="container">
    <header class="bg-black white px-4 py-4 mt-6 phone-mt-0 row">
      <div class="col-8 phone-col-12">
        <p class="bold phone-fs-20">
          <span class="logo teal fs-15 phone-fs-20 px-4">&#8984;</span>
          <a href="/" class="title">Cryptocurrency Trading News</a>
        </p>
      </div>
    </header>
    <div class="article-show">
      {{{body}}}
    </div>
  </div>
</body>

</html>
