<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sentiment Client</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <div class="container">
    <header class="bg-blue white px-4 py-2 mt-6 phone-mt-0 row">
      <div class="col-8">
        <p class="bold phone-fs-20">
          <span class="logo white fs-15 phone-fs-20 px-4" style="border: 1px solid white; padding: 2px 5px">B</span>
          <a href="/" class="text-decoration-none white">TheBitcoinWire</a>
        </p>
      </div>
      <div class="col-4 right-align">
        <p class="phone-fs-20">
          <a href="/?sort=latest" class=" white text-decoration-none">Latest</a>
        </p>
      </div>
    </header>
    <div class="px-12 bg-smoke">
      {{{body}}}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/bundle.js"></script>
</body>
</html>