<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sentiment Client</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <header>
    <a href="/">Home</a> |
    <a href="/topics">News</a> |
    <a href="/topics/browse">Browse</a> |
    <a href="/admin">Admin</a>
  </header>
  {{{body}}}
  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/bundle.js"></script>
</body>
</html>