<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sentiment Client</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <div class="container">
    <header class="bg-blue white px-4 py-2 mt-6">
      <p class="bold">
        <span class="logo white fs-15 px-4" style="border: 1px solid white; padding: 2px 5px">B</span>
        TheBitCoinWire
      </p>
    </header>
    <div class="px-12 bg-smoke">
      {{{body}}}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/bundle.js"></script>
</body>
</html>