<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KV8J43D');</script>
  <!-- End Google Tag Manager -->  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cryptocurrency trading news</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KV8J43D" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container">
    <header class="bg-black white px-4 py-4 mt-6 phone-mt-0 row">
      <div class="col-6 phone-col-12">
        <p class="bold phone-fs-20">
        <span class="teal pl-8">
        </span>            
        <a href="/" class="text-decoration-none white pl-4">Cryptocurrency Trading News</a>
        </p>
      </div>
      <div class="col-6 right-align phone-hide">
        <p class="phone-fs-18 pr-6">
          <a href="/fundamentals" class="white text-decoration-none">101</a>
          |
          <a href="/?sort=latest" class="white text-decoration-none">Latest</a>
        </p>
      </div>
    </header>
    <div class="bg-smoke">
      {{{body}}}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/bundle.js"></script>

</body>
</html>