<div class="p-12" style="min-height: 100vh">
  <h3>Favorites: {{user.email}}</h3>
  <p><a href="/profile">Profile</a></p>
  {{#if isAuthenticated}}
    <p>
      <a href="/logout">Logout</a>
    </p>
  {{/if}}
  

  <div class="py-12">
    {{> topic/topic-list/template threads=data isFave=isFave}} 
  </div>
  
</div>

