<div class="py-20 px-20">
  <h3>Users list</h3>
  <p>Total Users: {{data.length}}</p>
  
  <ol style="list-style-position:inside">
    {{#each data as |user|}}
    <li>
      {{moment user.createdAt 'YYYY-MM-DD'}}
      {{user.email}}
    </li>
    {{/each}}
  </ol>
</div>
