.post-number, .post-body {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 1px;
  overflow: hidden;
}
.post-number {
  width: 10%;
  max-width: 30px;
  text-align: right;
  padding-right: 5px;
}
.post-body {
  width: 90%;
}

.post-preview {
  display: none;
}

.show-more {
  cursor: pointer;
  text-decoration: underline;
  color: salmon;
}

.post-upvote {
  cursor: pointer;
}

.post-downvote {
  cursor: pointer;
}

.post-toggle-text {
  cursor: pointer;
}