<div class="row">
  <div class="col-1" style="min-width: 88px">
    <p class="fs-11 bg-platinum pl-2">Code</p>
    <p class="fs-11 pl-2">Price ($US)</p>
    <p class="fs-11 bg-platinum pl-2">% day chg</p>
    <p class="fs-11 pl-2">% week chg</p>
    <p class="fs-11 bg-platinum pl-2">Mktcap ($US)</p>
  </div>
  <div class="ticker-overflow-container">
   {{#each tickers}} 
    {{> ../ticker-price/template}}
   {{/each}}
  </div>
</div>
