<div class="row">
  <div class="col-7">
    <p class="gray py-16">
      {{#if prevPage}}
        <a href="/?page={{prevPage}}{{#if (eq sort 'latest')}}&sort=latest{{/if}}" class="text-decoration-none gray">< Prev</a>
      {{/if}}
      Page {{page}}
      {{#if nextPage}}
        <a href="/?page={{nextPage}}{{#if (eq sort 'latest')}}&sort=latest{{/if}}" class="text-decoration-none gray">More ></a>
      {{/if}}
    </p>
  </div>
  <div class="col-5 right-align">
    <p class="gray py-16">
      <a class="gray teal-hover text-decoration-none" href="https://howardmann.typeform.com/to/cZJ96H" target="_blank">Suggestions?</a>
    </p>
  </div>
</div>
